
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kategori Sayfası</h2>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>