
@{
    Layout = null;
}

<h3>Yetenekler</h3>
<h4>Bildiğim Diller: C#, SQL, Asp.Net Core, C</h4>
<h4>Kullandığım Teknolojiler: MicrService, N Tier, Onion, Dapper</h4>
<h5>Araçlar: Visual Studıo, VS Code, MSSQL, GitHub, Postman</h5>

<a href="/Default/Index">Index Sayfasını Aç</a>






