
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container"></div>
  <table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
        <td><a href="#" class="btn btn-danger"></a>SİL</td>
        <td><a href="#" class="btn btn-success"></a>GÜNCELLE</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
        <td><a href="#" class="btn btn-danger"></a>SİL</td>
        <td><a href="#" class="btn btn-success"></a>GÜNCELLE</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mobilya</td>
        <td><a href="#" class="btn btn-danger"></a>SİL</td>
        <td><a href="#" class="btn btn-success"></a>GÜNCELLE</td>
    </tr>
      <a href="#" class="btn btn-primary"></a>Yeni Kategori
  </table>

